/*----------
     Fonts
------------ */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/*------------------------------- 
    common styles or utilities 
--------------------------------*/
body {
  width: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------
    Header Style
--------------------- */
header {
  background-color: rgb(0, 0, 148);
  margin-bottom: 70px;
}

.header-part {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-left {
  width: 50%;
  color: #fff;
  padding-left: 156px;
  line-height: 80px;
}

.header-title {
  margin: 0;
  font-size: 54px;
}

.button-click {
  background: #e02c6d;
  text-decoration: none;
  color: white;
  padding: 10px 24px;
  border-radius: 5px;
}

.fa-arrow-right {
  margin-left: 5px;
}

.header-right {
  margin: 70px 80px 65px 170px;
  width: 50%;
}
.header-right img {
  width: 100%;
}

/*----------------
     Player style 
------------------- */

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 25px;
}

.player {
  width: 330px;
  padding: 10px;
  /* background-color: tomato; */
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player img {
  width: 100%;
}
.player-name {
  text-align: center;
}

/* -----------------
    Gallery style
-------------------- */

.gallery {
  margin: 150px 0;
}
.gallery-title {
  margin-left: 25px;
  color: rgb(6, 6, 73);
  margin-bottom: 50px;
  font-size: 30px;
}
.gallery-images {
  margin-left: 5px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
}
.gallery-image img {
  max-width: 33%;
}
.gallery-image a {
  text-decoration: none;
}

/*------------------
     Sponsor style 
---------------------*/

.sponsor {
  margin: auto;
  text-align: center;
}
.sponsor-title {
  color: rgb(6, 6, 73);
  margin-bottom: 50px;
  font-size: 30px;
}
.sponsor-lists {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sponsor-list img {
  width: 20%;
}
.sponsor-list a {
  text-decoration: none;
}

/*------------------
     Footer style 
---------------------*/

.footer {
  margin: 180px 0 70px;
  text-align: center;
  /* align-items: center; */
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}
.footer-image {
  /* height: 100px;
  width: 450px; */
  max-width: 100%;
  /* margin-left: auto; */
}

.social-copyright a {
  color: gray;
  margin-right: 15px;
  font-size: 25px;
}

.copyright {
  font-size: 18px;
}
